.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #262626;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.messages-list {
  padding: 0.75rem 0;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentUser {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  text-align: left;
}

.currentUser>.Message-content {
  align-items: flex-end;
}

.Message-content>.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content>.text {
  padding: 0.25rem 0.5rem;
  max-width: 400px;
  margin: 0;
  border-radius: 0.25rem;
  background-color: rgb(187, 192, 183);
  color: rgb(252, 249, 249);
  font-size: 0.95rem;
}

.currentUser>.Message-content{
  text-align: right;
}
.currentUser>.Message-content .text {
  background-color: rgb(101, 139, 105);
}
.text-time{
  font-size: 0.55rem;
  color: aliceblue;
}

.message-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
  margin-bottom: 38px;
}

.inputField {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  flex-grow: 1;
}

